@model webtruyentranh.Models.NHAXUATBAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3 class="card-title">Details Form</h3>

<h3>Bạn có thật sự muốn xóa ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            <b> Tên Nhà Xuất Bản:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.TenNXB)
        </dd>

      

        <dd>
            <b>Địa Chỉ:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.Diachi)
        </dd>

       

        <dd>
            <b> Điện Thoại:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    &emsp; &emsp; &emsp;<a href="@Url.Action("Index","Nhaxuatban")" style="background-color:#0026ff; border-radius:15px" class="btn btn-default">Quay trở lại</a>
    <input type="submit" value="Delete" class="btn btn-default" style="background-color:#dc3545; border-radius:15px" />

</div>

    }
   
</div>
<style>
    dt {
        margin: 0 50px;
    }

    dd {
        margin: 0 50px;
    }

</style>