@model webtruyentranh.Models.NHAXUATBAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h3 class="card-title">Edit Form</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaNXB)

                <form class="form-horizontal mt-4">
                    <div class="form-group">
                        <b>Tên nhà xuất bản:</b>
                        @Html.EditorFor(model => model.TenNXB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenNXB, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        <b>    Địa chỉ:</b>
                        @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <b> Điện thoại:</b>
                        @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("Index","Nhaxuatban")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            }
         
        </div>

    </div>
</div>

