
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutLienHe.cshtml";
}

<link href="~/Content2/stylelh.css" rel="stylesheet" />
<div class="content">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row align-items-stretch no-gutters contact-wrap">
                <div class="col-md-8">
                    <div class="form h-100">
                        <h3>Gửi góp ý của bạn cho chúng tôi</h3>
                        <form class="mb-5" method="post" id="contactForm" name="contactForm">
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-md-6 form-group mb-5">
                                    <label for="" class="col-form-label">Họ Tên <span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" name="name" placeholder="Điền tên của bạn">
                                    <div style="color: red; ">
                                        @ViewData["Loi1"]

                                    </div>
                                </div>
                                <div class="col-md-6 form-group mb-5">
                                    <label for="" class="col-form-label">Email <span style="color:red;">*</span></label>
                                    <input type="email" class="form-control" name="email" placeholder="Điền email của bạn">
                                    <div style="color: red; ">
                                        @ViewData["Loi2"]

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-5">
                                    <label for="" class="col-form-label">Điện thoại <span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" name="phone" placeholder="Điền số điện thoại của bạn" size="20" maxlength="11">
                                    <div style="color: red; ">
                                        @ViewData["Loi3"]

                                    </div>
                                </div>
                                <div class="col-md-6 form-group mb-5">
                                    <label for="" class="col-form-label">Địa Chỉ <span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" name="Place" placeholder="Điền địa chỉ của bạn">
                                    <div style="color: red; ">
                                        @ViewData["Loi4"]

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group mb-5">
                                    <label for="message" class="col-form-label">Ý Kiến <span style="color:red;">*</span></label>
                                    <textarea class="form-control" name="message" cols="30" rows="4" placeholder="Điền ý kiến của bạn"></textarea>
                                    <div style="color: red; ">
                                        @ViewData["Loi5"]

                                    </div>
                                </div>
                            </div>
                            <h4 style="color: #f0bc4e; font-size: 12pt; "> @ViewBag.ThongBao</h4>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                                    <span class="submitting"></span>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-info h-100">
                        <h3>Thông Tin Liên Hệ</h3>
                        <p class="mb-5" style=" color: #fff"> Mọi thắc mắc xin vui lòng liên hệ qua địa chỉ sau:</p>
                        <ul class="list-unstyled">
                            <li class="d-flex" style=" color: #fff; padding: 10px">
                                <span class="wrap-icon ti-home"></span>
                                <span class="text">111/2a Trần Nhật Duật, Thành Phố Hồ Chí Minh, Quận 2</span>
                            </li>
                            <li class="d-flex" style=" color: #fff; padding: 10px ">
                                <span class="wrap-icon ti-headphone-alt"></span>
                                <span class="text">(+84) 367133313</span>
                            </li>
                            <li class="d-flex" style="color: #fff; padding: 10px ">
                                <span class="wrap-icon ti-email"></span>
                                <span class="text">info@mywebsite.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <section> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487.388449013832!2d109.18459739841612!3d12.240993726888023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d86d0ca82ff%3A0x85ff4c6cf60ab26!2zMTExLCAwMiBUcuG6p24gTmjhuq10IER14bqtdCwgVGjDoG5oIHBo4buRIE5oYSBUcmFuZywgS2jDoW5oIEjDsmEgNjUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1625819318334!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </section>

        </div>

    }

</div>

