@model webtruyentranh.Models.TinTuc

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>
<div class="row">
    <div class="col-12">
        <div class="card card-body">
            @using (Html.BeginForm("Create", "Tintuc", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()


                <h3 class="card-title">Create Form</h3>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form class="form-horizontal mt-4">
                    <div class="form-group">
                        <b>Tiêu Đề:</b>
                        @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <b>Mở Đầu:</b>
                        @Html.EditorFor(model => model.MoDau, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoDau, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <b>Nguồn:</b>
                        @Html.EditorFor(model => model.Nguon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nguon, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <b>Tác Giả:</b>
                        @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Thời Gian:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="date" name="ThoiGian" />
                        @Html.ValidationMessageFor(model => model.ThoiGian, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">

                        <textarea rows="6" cols="50" name="NoiDung">Nội Dung:</textarea>
                    </div>
                    <div class="form-group">

                        <textarea rows="6" cols="50" name="NoiDung2">Nội Dung:</textarea>
                    </div>
                    <div class="form-group">

                        <textarea rows="6" cols="50" name="NoiDung3">Nội Dung:</textarea>
                    </div>
                    <div class="form-group">

                        <textarea rows="6" cols="50" name="NoiDung4">Nội Dung:</textarea>
                    </div>

                    <div class="form-group">
                        <b> Ảnh bìa:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input type="file" name="fileUpload" />
                        @*thong bao trung*@
                        @ViewBag.Thongbao


                    </div>
                    <div class="form-group">
                        <b> Ảnh bìa:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input type="file" name="fileuploadd" />
                        @*thong bao trung*@
                        @ViewBag.Thongbao

                    </div>
                    <div class="form-group">
                        <b> Ảnh bìa:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input type="file" name="fileuploaddd" />

                        @*thong bao trung*@
                        @ViewBag.Thongbao

                    </div>


                    <div class="form-group">
                        <b>Chú Thích:</b>

                        @Html.EditorFor(model => model.ChuThich, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChuThich, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <b>Chú Thích:</b>
                        @Html.EditorFor(model => model.ChuThich2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChuThich2, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <b>Chú Thích:</b>
                        @Html.EditorFor(model => model.ChuThich3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChuThich3, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>


            }

            <p>

                <a href="@Url.Action("Index","TinTuc")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>

            </p>
        </div>

    </div>
</div>

