@model webtruyentranh.Models.TinTuc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-12">
        <div class="card card-body">
            @using (Html.BeginForm("Edit", "Tintuc", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <h3 class="card-title">Edit Form</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaTinTuc)
                <form class="form-horizontal mt-4">
                    <div class="form-group">
                        <b>Tiêu Đề:</b>
                        @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <b>Mở Đầu:</b>
                        @Html.EditorFor(model => model.MoDau, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoDau, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <b>Nguồn:</b>
                        @Html.EditorFor(model => model.Nguon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nguon, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <b>Tác Giả:</b>
                        @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })


                    </div>

                    <div class="form-group">
                        <b> Ngày cập nhật:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="date" name="ThoiGian" />
                    </div>

                    <div class="form-group">
                        <b>Ảnh bìa:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class=" col-md-10">
                            Chọn ảnh mới
                            <input type="file" name="fileupload" />
                            <div class="col-md-10">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="@Url.Content("~/HinhAnh/"+Model.HinhAnh)" width="120px" /> (Ảnh hiện tại)
                                @*Thong bao trung*@
                                @ViewBag.Thongbao
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <b>Ảnh bìa:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class=" col-md-10">
                            Chọn ảnh mới
                            <input type="file" name="fileUploadd" />
                            <div class="col-md-10">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="@Url.Content("~/HinhAnh/"+Model.HinhAnh2)" width="120px" /> (Ảnh hiện tại)
                                @*Thong bao trung*@
                                @ViewBag.Thongbao
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <b>Ảnh bìa:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class=" col-md-10">
                            Chọn ảnh mới
                            <input type="file" name="fileUploaddd" />
                            <div class="col-md-10">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="@Url.Content("~/HinhAnh/"+Model.HinhAnh3)" width="120px" /> (Ảnh hiện tại)
                                @*Thong bao trung*@
                                @ViewBag.Thongbao
                            </div>

                        </div>
                    </div>


                    <div class="form-group">

                        <b> Mô tả:</b>
                        <div class="col-md-10"><textarea name="Mota">@Model.NoiDung</textarea></div>

                    </div>

                    <div class="form-group">

                        <b> Mô tả:</b>
                        <div class="col-md-10"><textarea name="Mota">@Model.NoiDung2</textarea></div>

                    </div>

                    <div class="form-group">

                        <b> Mô tả:</b>
                        <div class="col-md-10"><textarea name="Mota">@Model.NoiDung3</textarea></div>

                    </div>

                    <div class="form-group">

                        <b> Mô tả:</b>
                        <div class="col-md-10"><textarea name="Mota">@Model.NoiDung4</textarea></div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ChuThich, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ChuThich, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChuThich, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ChuThich2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ChuThich2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChuThich2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ChuThich3, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ChuThich3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChuThich3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            }

            <div>
                <a href="@Url.Action("Index","Tintuc")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>

            </div>
        </div>

    </div>
</div>

