<!DOCTYPE html>
<html dir="ltr" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Nice lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Nice admin lite design, Nice admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Nice Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Quản Lý Mọi Thứ</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/AdminCSS/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/AdminCSS/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/AdminCSS/dist/css/style.min.css" rel="stylesheet">
    <link href="~/Content2/bootstrap1.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
         data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <a href="https://localhost:44354/admin" class="logo">
                            <!-- Logo icon -->
                            <b class="logo-icon">
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img src="~/AdminCSS/assets/images/log.png" alt="homepage" class="dark-logo">
                                <!-- Light Logo icon -->
                                <img src="~/AdminCSS/assets/images/log.png" alt="homepage" class="light-logo">
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <!--<span class="logo-text">-->
                                <!-- dark Logo text -->
                                <!--<img src="~/AdminCSS/assets/images/logo-text.png" alt="homepage" class="dark-logo">-->
                                <!-- Light Logo text -->
                                <!--<img src="~/AdminCSS/assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                            </span>-->
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->

                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                      
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/AdminCSS/assets/images/users/avtofme.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Thể Loại", "Index", "Theloai")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Nhà xuất bản", "Index", "Nhaxuatban")


                            </div>

                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Truyện", "Truyen", "Admin")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Chương", "Index", "Chuong")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Chương Hình", "Index", "Chuonghinh")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Độc Giả", "Index", "Docgia")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Tài Khoản Admin", "Index", "TKAD")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Thông Tin Liên Hệ", "Index", "LienHe")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Tin Tức", "Index", "Tintuc")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Quản Lý Đơn Mua Truyện", "Index", "DonHang")


                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link waves-effect waves-dark sidebar-link">

                                @Html.ActionLink("Trang Truyện", "Index", "WebTruyen")


                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            @RenderBody()
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/AdminCSS/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/AdminCSS/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/AdminCSS/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/AdminCSS/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/AdminCSS/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/AdminCSS/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="~/AdminCSS/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/AdminCSS/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/AdminCSS/dist/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>
<style>
    a{
        color:inherit;
    }
    #main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin6], #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin6], #main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin6], #main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin6] {
        background: #223242;
    }
</style>