@model webtruyentranh.Models.Chap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<<h3 class="card-title">Details Form</h3>

<h3>Bạn có thật sự muốn xóa ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>Mã Truyện:</b>
            @Html.DisplayFor(model => model.MaTruyen)
        </dd>

        <dd>
            <b>Tên Truyện:</b>
            @Html.DisplayFor(model => model.TenTruyen)
        </dd>


        <dd>
            <b>Chương Số:</b>
            @Html.DisplayFor(model => model.ChuongSo)
        </dd>





    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    &emsp; &emsp; &emsp;<a href="@Url.Action("Index","Chuong")" style="background-color:#dc3545; border-radius:15px" class="btn btn-default">Trở về</a>
                    <input type="submit" value="Delete" class="btn btn-default" style="background-color:#00266f; border-radius:15px" />

                </div>
            </div>
        </div>

    }

</div>
<style>
    dt {
        margin: 0 50px;
    }

    dd {
        margin: 0 50px;
    }
</style>