@model webtruyentranh.Models.Chap

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h3 class="card-title">Edit Form</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaChap)

                <form class="form-horizontal mt-4">
                    <div class="form-group">
                        <b>Mã Truyện:</b>
                        @Html.EditorFor(model => model.MaTruyen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaTruyen, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <b>Tên Truyện:</b>
                        @Html.EditorFor(model => model.TenTruyen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenTruyen, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        <b>Chương Số:</b>
                        @Html.EditorFor(model => model.ChuongSo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChuongSo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-actions no-color">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                &emsp; &emsp; &emsp;<a href="@Url.Action("Index","Chuong")" style="background-color:#dc3545; border-radius:15px" class="btn btn-default">Trở về</a>
                                <input type="submit" value="Save" class="btn btn-default" style="background-color:#00266f; border-radius:15px" />

                            </div>
                        </div>
                    </div>
                </form>
            }

        </div>

    </div>
</div>