@model webtruyentranh.Models.Admin

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserAdmin)

                <form class="form-horizontal mt-4">
                  
                    <div class="form-group">

                        <b>Mật khẩu admin</b>
                        @Html.EditorFor(model => model.PassAdmin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PassAdmin, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <b> Họ tên</b>
                        @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("Index","TKAD")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            }

        </div>

    </div>
</div>


